{% extends 'flatpages/defaultLayout.html' %} 

{% load widget_tweaks %}

<!-- Название у нас будет proudcts -->
{% block title %}
Products
{% endblock title %}

{% block abracadabra %}
<h1>Все товары</h1>
<form method="GET">
    <div class="row  align-items-end">
        <div class="col">
            {{ filter.form.name.label_tag }}            
            {% render_field filter.form.name class="form-control" placeholder="Например, порошок"%}
           
        </div>
        <div class="col">
            {{ filter.form.category.label_tag }}            
            {% render_field filter.form.category class="form-control" %}
           
        </div>
        <div class="col">
            {{ filter.form.price.label_tag }}            
            {% render_field filter.form.price class="form-control" %}
           
        </div>
        <div class="col">
            {{ filter.form.quantity.label_tag }}            
            {% render_field filter.form.quantity class="form-control" %}
           
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Найти</button>
          </div>
    </div>
     <!--{{ filter.form }}-->
     
</form>
<hr>
{% if products %} <!-- Если есть товары, то выводим таблицу с ними -->
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                Название
            </th>
            <th>
                Категория
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
        </tr>
    </thead>
    <tbody>
        {% for product in filter.qs %} <!-- поменяем products на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
        <tr>
            <td>
                {{ product.name|title }}
            </td>
            <td>
                {{ product.category.name|title }}
            </td>
            <td>
                {{ product.price }}
            </td>
            <td>
                {{ product.quantity }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% else %}
    <h2>Товаров нет!</h2>
{% endif %}
{% endblock abracadabra %}